@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>


<address>
    Sua página de contato<br />    
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:ademir_mendonca@hotmail.com">ademir_mendonca@hotmail.com</a><br />
    
</address>