@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-Vindo ao Hospital Net</h1>
    <p class="lead">Esta é uma aplicação desenvolvida com ASPNET, Bootstrap, Entity Framework etc..</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

